{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}


{% block content %}
<div>
    <div class="contact-container ">
        <div class="contact-item">
            <div class="submit-form">
                <h4 class="third-text">Let's Get in Touch</h4>
                <form action="">
                    <div class="input-box">
                        <input type="text" class="input" required>
                        <label for="" class="label">Name</label>
                    </div>
                    <div class="input-box">
                        <input type="email" class="input" required>
                        <label for="" class="label">Email</label>
                    </div>
                    <div class="input-box">
                        <input type="tel" class="input" required>
                        <label for="" class="label">Phone</label>
                    </div>
                    <div class="input-box">
                        <textarea name="" class="input" required cols="30" rows="10"></textarea>
                        <label for="" class="label">Message</label>
                    </div>
                    <input type="submit" class="submit-btn" value="Submit">
                </form>
            </div>

            <div class="contact">
                <img src="{{ url_for('static', filename='assets/contact.jpg') }}" alt="" class="image">
            </div>
        </div>
    </div>
</div>
{% endblock %}