{% extends "dashboard_Structure.html" %}

{% block head %}
        
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
    {% block headcss %}
    <title>Services_Template</title>
    {% endblock %}


{% endblock %}

{% block content %}
    <!-- Health Report Analyzer Section -->
    <div class="header-box">
        <!-- Header Section -->
        <div class="header-section">
            <!-- Left Side Text -->
            <div class="header-section">
            <!-- Left Side Text -->
            
            <div class="header-text">
                {% block headertext %} Service_Name{% endblock  %}
            </div>
            
            

            <!-- Right Side Profile Picture Placeholder -->
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='assets/contact.jpg') }}" alt="Profile Picture">
            </div>
        </div>

        </div>

    </div>
        <!-- Content Section (Add other content for Health Report Analysis here) -->
         {% block mainbody %}
        <div class="report-content">
            <div class="upload-section">
                <h4>The content Starts from here...</h4>
            </div>
        </div>
        {% endblock %}
        
    
{% endblock %}
